<ion-view title="Menus">
  <ion-content class="has-header padding">
    <ion-list>
      <a class="item item-icon-left" href="#/tab/menu">
			    <i class="icon ion-fork"></i>
			    Main Course
			  </a>

			  <a class="item item-icon-left" href="#/tab/menu">
			    <i class="icon ion-icecream"></i>
			    Dessert
			  </a>

			  <a class="item item-icon-left" href="#/tab/menu">
			    <i class="icon ion-wineglass"></i>
			    Wine
			  </a>

			  <a class="item item-icon-left" href="#/tab/menu">
			    <i class="icon ion-beer"></i>
			    Drinks
			  </a>
    </ion-list>

  </ion-content>
</ion-view>
