<ion-view title="Home">
  <ion-content class="has-header padding">
  	
    <ion-list>
      <ion-item type="item-text-wrap" href="#/tab/home/offer">
      	<i class="icon ion-fork"></i>
			Special Offers
      </ion-item>

      <ion-item type="item-text-wrap" href="#/tab/home/enquiry">
      	<i class="icon ion-fork"></i>
			Make Enquiry
      </ion-item>

      <ion-item type="item-text-wrap" href="#/tab/home/profile">
      	<i class="icon ion-fork"></i>
			Profile
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
