<ion-tabs class="tabs-icon-top tabs-default">
  <!-- Home Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Book Tab -->
  <ion-tab title="Book" icon="icon ion-ios7-pricetag" href="#/tab/book">
    <ion-nav-view name="tab-book"></ion-nav-view>
  </ion-tab>


  <!-- Review Tab -->
  <ion-tab title="Review" icon="icon ion-ios7-star" href="#/tab/review">
    <ion-nav-view name="tab-review"></ion-nav-view>
  </ion-tab>

  <!-- Menus Tab -->
  <ion-tab title="Menus" icon="icon ion-fork" href="#/tab/menus">
    <ion-nav-view name="tab-menus"></ion-nav-view>
  </ion-tab>

</ion-tabs>
