<ion-view title="Reviews">
  <ion-content has-header="true" padding="true">
  <ion-list>
    <div class="item-container">
      <ion-item ng-repeat="review in reviews | orderBy:'-sent'" type="item-text-wrap"> 
        
        	
        	<div class="star-container">
        		<span class="stars">{{review.rating}}</span>

        	</div>

        	<div class="review-data">
	        	<h2>{{review.rtitle}} </h2>
	        </div>
      		<div style="clear:both;"></div>

          <div class="review-content">
          <hr />
          <p>{{review.message}}</p>
          <hr />
          <h3>{{review.firstname}} | {{review.sent}} </h3>
          </div>
      </ion-item>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
