/* Your app's CSS, go crazy, make it your own */
/*Styling overall*/
.tabs{
  background-color: #444444;
}
.tab-item .icon{
  color: #47D147;
}
.tab-item{ color: #47D147; }


.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}
/* Review */
.star-container {
    background-image:url(../img/star.png);
    background-position:center;
    width:20%;
    height: 54px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 18px;
    font-weight: bold;
    font-size: 1.2em;
    float: left;
    /*margin-top: -24px;*/
}
.stars{
	color: white;
}
.star-container img{ max-width: 100%; height: auto; }
.review-data{
	float: left;
	padding-left: 24px;
	padding-top: 16px;
    width:80%;
}
.review-content > p{
  white-space: normal;
  padding-left: 12px;
  padding-top: 12px;
}
